p{
	font-family: "Arial";
}

li{
	font-family: "Arial";
}

h1, h2, h3, h4{
	font-family:"Arial";
	color: #4484CE;
}
#arara{
	margin-left: 5px;
	width: 360px;
	border-style: dashed;
	border-color: #4484CE;
}
#titulo{
	padding: 20px 10px 10px 60px;	
	font-family: "Arial";
	color: #4484CE;
}

#fundo {
	border-style: solid;
	border-color: #4484CE;
	width: 800px;
	margin: 0 auto;
}

#topo {
	width: 800px;
	height: 80px;
	position: relative;
	top: 10px;
}

#barra_topo{
	border-style: solid;
	border-color: #4484CE;
	width: 795px;
	height: 35px;
	position: relative;
	top: 5px;
}

#corpo {
	text-align: justify;
	width: 750px;
	margin: 5px 20px 5px 20px;	
	position: relative;
	top: -10px;
}

#ariranha-original, #ariranha-preto-branco2, #ariranha-gaussian2, #ariranha-sobel2, #ariranha-supre2{
	border-style: dashed;
	border-color: #4484CE;
	position:relative;
	left: -40px;
}

#ariranha-preto-branco, #ariranha-gaussian, #ariranha-sobel, #ariranha-supre, #ariranha-threshold{
	border-style: dashed;
	border-color: #4484CE;
	position: relative;
	left: 350px;
	top: -500px;
	margin-bottom: -480px;
}

#func-gaussian{
	position: relative;
	left: 300px;
}
#matriz-gaussian{
	position: relative;
	left: 200px;
}

#sobel-x{
	position: relative;
	left: 200px;
}

#sobel-y{
	position:relative;
	left:200px;
}

#canvas-url1, #canvas-url2{
	border-style:dashed;
	border-color:#4484CE;
	position: sticky;
}

a{
	font-family: Arial;
	color:#4484CE;
}

#texto-topo{
	font-size: 20px;
	padding: 7px 10px 5px 20px;
	font-weight: bold;
}

#rodape{
	font-size: 12px;
	padding-left: 12px;
}